<%- include('partials/homepageheader') %>

<div class="container-fluid" id="homepage">

  <div class="flash-success">
    <%=messages%>
  </div>

  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 col-xs-12" id="jumbcol">
        <h1 class="display-4">Welcome to <span style="color: rgb(224, 49, 49);">Swingo!</span></h1>
        <p class="lead">For all <span style="color: rgb(224, 49, 49);">Wins</span> on the <span style="color: rgb(224, 49, 49);">Go</span></p>
        <hr class="my-4" id="hrjumbo">
        <h3>On Swingo You can find the best products at best rates.</h3>
        <a class="btn btn-primary btn-lg" href="/signup" role="button">Get Started</a>
    </div>
  </div>

  <div class="row" id="card-contianer">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 first" id="smoll">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Products</h5>
          <h4 class="card-subtitle mb-2">Browse our Huge Library</h6>
          <hr class="cardhr">
          <ul class="cardli">
            <li>
              <p class="card-text">Products on Swingo are uploaded by Fellow Buyers like you and are thoroughly verified by our professionals</p>
            </li>
            <li>
              <p class="card-text">Each and Every Product comes with a certified Swingo Seal. If the seal is broken, kindly return the product</p>
            </li>
            <li>
              <p class="card-text">Returns are made easy with Swingo. If you don't like a product you bought, just return it. No questions asked</p>
            </li>
          </ul>
          <a class="btn btn-primary btn-lg" href="/products" role="button">Products</a>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="smoll">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">About Us</h5>
          <h4 class="card-subtitle mb-2">I am a Student Project</h6>
          <hr class="cardhr">
          <ul class="cardli">
            <li>
              <p class="card-text">Swingo is the dream project of an Engineering aspirant with many dreams. He is popular by the name Saphilous</p>
            </li>
            <li>
              <p class="card-text">This project uses high secure tokens and transaction methods. So your money is absolutely safe with us. Swingo uses Stripe for Payment</p>
            </li>
            <li>
              <p class="card-text">Swingo guarantees quick delivery. If you didn't receive the product within a week, get it for free*</p>
            </li>
          </ul>
          <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
        </div>
      </div>
    </div>
  </div>



</div>