<%- include('partials/formsheader') %>

<div class="contianer" id="form">

<form  id="flash-form" action="/new-password" method="POST">

    <input type="hidden" name="_csrf" value= "<%= csrftoken %>">

    <input type="hidden" name="passwordtoken" value= "<%= passwordtoken %>">

    <input type="hidden" name="userId" value= "<%= userId %>">

    <h3 id="key">New password: </h3>
    <br>

    <input type="password" name="password" placeholder="enter the new password">

    <input type="submit">

    <div class="centered">

    </div>

 </form>

</div>