<%- include('partials/formsheader') %>

<div class="contianer" id="form">

    <div class="flash-error">
        <%=message%>
      </div>

<form  id="flash-form" action="/reset-password" method="POST">

    <input type="hidden" name="_csrf" value="<%= csrftoken %>">

    <h3 id="key">Email: </h3>
    <br>

    <input type="text" name="email" placeholder="enter valid mail id">

    <input type="submit">

</form>

</div>