body{
    background-image: url('https://images.unsplash.com/photo-1495602787267-96ab76127c2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron
{
    background-color: #BB86FC;
    width: 100% !important;
    height: auto;
}

#homepage
{
    max-width: 100%;
    max-height: 100%;
}

#nav1
{
    background-color: #BB86FC !important;
    opacity: 1;
}

.btn{
    background-color: #3700B3;
    color: white;
}

.card
{
    width: 400px;
    height: auto;
    padding: 10px;
    border:1px solid;
    border-radius: 5px;
    border-color: goldenrod;
    background-color: #BB86FC;
    text-align: center;
    margin-bottom: 50px;
    margin-right: 150px;
    display: inline-block;
}
.card-title
{
    font-weight: bold;
    color: rgb(224, 49, 49);
}

.cardhr
{
    height: 2px;
    width: 300px;
    color: goldenrod;
}

.cardli{
    text-align: left;
}

#card-contianer
{
    max-width: fit-content;
    margin: 50px;
    display: inline-block;
}

#left
{
    align-items: right;
}

.card:hover{
    color:#3700B3
}